*.egg-info/
*.metadata
*.idea
*__pycache__
pythonJava/gama_results.png
*nngamma
.built_in_models_1647936991692
.gama_application_workspace
Diffusion Innovation - Reinforcement learning/.built_in_models_1647936991692
Diffusion Innovation - Reinforcement learning/.gama_application_workspace
Diffusion Innovation - Reinforcement learning/models/.built_in_models_1647936991692
Diffusion Innovation - Reinforcement learning/models/.gama_application_workspace
.built_in_models_1644481005280
*.csv
*.swp
pythonGym/out.txt
